html { box-sizing: border-box; }
h1, h2, h3 { margin: 0; }
form, fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    min-width: 320px;
}
p { margin: 0 0 1em; }
*, *:after, *:before { box-sizing: inherit; }
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper {
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#header {
    position: relative;
    z-index: 10;
}
.logo {
    float: left;
    width: 243px;
    position: relative;
    z-index: 2;
}
.logo a,  .logo img {
    display: block;
    width: 100%;
    height: auto;
}
.header-top {
    position: relative;
    padding: 14px 0;
}
.header-top:after {
    content: '';
    display: block;
    clear: both;
}
.header-top:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: -9999px;
    right: -9999px;
    background: #666;
}
.header-top .right-area {
    float: left;
    width: 100%;
    margin: 0 0 0 -243px;
    padding: 8px 0 0 290px;
}
.header-top .user-area {
    float: right;
    width: 330px;
    padding: 4px 0 0 15px;
}
.user-links { letter-spacing: -0.32em; }
.user-links>li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    letter-spacing: normal;
    position: relative;
}
.user-links .account-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background: white;
    right: -10px;
    width: 212px;
    background: #555;
    padding: 14px 17px 10px;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 9999;
}
.user-links .account-menu .btn-login{
    display: block;
    background: #d4ac40;
    padding: 9px 10px;
    margin: 0 0 6px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #fff !important;
    text-align: center;
}
.user-links .account-menu ul{
    margin: 24px 0 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 18px;
}
.user-links .account-menu ul li{margin: 0 0 12px;}
.user-links .account-menu ul li a{
    text-decoration: none;
    color: #b1b1b1;
    display: block;
    font-weight: 400;
    position: relative;
}
.user-links .account-menu ul li a:before{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 4px;
    height: 6px;
    background:url(icon-arrow2.png) no-repeat;
}
.user-links .account-menu ul li a:hover{color: #fff;}
.user-links .account-menu .btn-login.add{background: #777;}
.user-links .fa { margin: 0 0 0 5px; }
.user-links a {
    font-weight: bold;
    color: #fff;
}
.user-links .txt-blue a { color: #18c5ff; }
.user-links a .fa { color: #aea7b2; }
.user-links .txt-blue {
    border-left: 1px solid #868686;
    padding: 0 0 0 12px;
    margin: 0 0 0 7px !important;
}
.user-links .new-user {
    /*border: 1px solid hsl(0, 0%, 100%);*/

    border-radius: 3px;
    display: block;
    padding: 2px 7px;
}
.user-links>li:hover .account-menu {
    opacity: 1;
    visibility: visible;
}
.holder {
    margin: 0 auto;
    max-width: 1280px;
}
.header-top .search-from {
    overflow: hidden;
    border-radius: 5px;
}
.header-top .search-from input[type="search"] {
    height: 37px;
    font-size: 14px;
    line-height: 19px;
    padding: 9px;
    border-radius: 0;
}
.header-top .search-from select {
    height: 37px;
    background: #edeced;
    border: none;
    display: block;
    width: 100%;
    color: #333;
    padding: 0 0 3px 8px;
    font-size: 14px;
    cursor: pointer;
}
.header-top .search-from .fake-select {
    position: relative;
    float: left;
    width: 90px;
    z-index: 2;
    cursor: pointer;
}
.header-top .search-from .fake-select:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    background: #edeced;
    height: 100%;
    pointer-events: none;
}
.header-top .search-from .fake-select:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 44%;
    right: 13px;
    border: 4px solid transparent;
    border-top-color: #999;
    z-index: 2;
}
.header-top .search-from .input-holder {
    margin: 0 0 0 -90px;
    padding: 0 40px 0 90px;
    float: left;
    width: 100%;
}
.header-top .search-from button {
    height: 37px;
    width: 46px;
    background: #18c5ff;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 0 0 6px 0;
    cursor: pointer;
}
#nav {
    position: relative;
    padding: 7px 0;
}
#nav:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    z-index: -1;
    background: #6e6e6e;
}
#nav:after {
    content: '';
    display: block;
    clear: both;
}
.main-nav {
    letter-spacing: -0.32em;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    float: left;
    width: 50%;
    padding: 3px 0 0;
}
.main-nav li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
}
.main-nav li +li { margin: 4px 0 0 27px; }
.main-nav .fa { margin: 0 0 0 2px; }
.main-nav a { color: #fff; }
.main-nav a.catogories {
    font-size: 20px;
    line-height: 22px;
}
.main-nav a.buyers { color: #fc0; }
.main-nav a.suppliers { color: #7adeff; }
#nav .right-area {
    overflow: hidden;
    padding: 0 0 0 45px;
}
#nav .membership {
    float: right;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 7px 42px;
    border-radius: 5px;
    border: 1px solid #fff;
}
#nav .coaching {
    float: left;
    color: #fff;
    font-size: 23px;
    line-height: 25px;
    font-weight: bold;
    padding: 4px 72px;
    border-radius: 5px;
    border: 1px solid #fff;
    text-transform: uppercase;
}
#main {
    position: relative;
    overflow: hidden;
}
.content-holder {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding: 8px 0 35px;
}
.content-holder:after {
    display: block;
    clear: both;
    content: '';
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
    border: 2px solid transparent;
    height: 12px;
    width: 12px;
    background: #98d7ee;
    text-indent: 9999px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: none;
    border-color: #fff;
}
.bx-pager.bx-default-pager {
    right: 15px;
    bottom: 13px;
    text-align: right;
}
.bxslider li { position: relative; }
.bx-wrapper { margin: 0 auto 20px; }
.bxslider .outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0 0 10px;
}
.bxslider .outer:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    margin: 0 0 0 -5px;
}
.bxslider h1 {
    max-width: 99%;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 48px;
    line-height: 52px;
}
.data-list {
    letter-spacing: -0.32em;
    text-align: center;
    font: 24px/26px 'Myriad Pro Bold', Arial;
    color: #666;
    border: 1px solid #ededed;
}
.data-list li {
    display: inline-block;
    vertical-align: middle;
    width: 33.33%;
    letter-spacing: normal;
    position: relative;
    min-height: 68px;
    padding: 14px 0 0;
}
.data-list li + li:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    left: 0;
    background: #ededed;
}
.data-list .fa {
    color: #18c5ff;
    font-size: 42px;
    margin: 0 8px 0 0;
    vertical-align: middle;
}
.section {
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 32px;
}
.section .row {
    overflow: hidden;
    margin: 0 -20px 34px;
}
.section .data-box {
    float: left;
    width: 50%;
    position: relative;
    font-size: 24px;
    line-height: 29px;
}
.section .data-box .img {
    display: block;
    width: 100%;
    height: auto;
}
.trade-section .data-box:nth-child(1) { padding: 0 20px 0 0; }
.trade-section .data-box:nth-child(2) { padding: 0 0 0 20px; }
.trade-section .data-box:nth-child(2) .outer{ left: 20px; }
.trade-section .row { margin: 0 0 30px; }
.section.trade-protection {
    margin: 0 0 25px;
    padding: 0;
}
.data-box .btn {
    position: absolute;
    bottom: 18px;
    left: 30px;
}
.section h2 {
    color: #666666;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 16px;
    letter-spacing: -1px;
}
.section ul li, .section p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.section .outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 22px 29px;
}
.section .more {
    color: #18c5ff;
    font-size: 18px;
    line-height: 20px;
}
.data-box p { margin: 0 0 5px !important; font-size:24px;}
.section h3 {
    color: white;
    font-size: 44px;
    font-weight: bold;
    line-height: 46px;
    margin: 0 0 8px;
}
.section .list {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    padding: 8px 0 0;
}
.section .list li { margin: 0 0 7px; }
.btn {
    display: inline-block;
    vertical-align: top;
    font: 24px/35px Arial, Helvetica, sans-serif;
    padding: 8px 35px 12px;
    background: #ff9c00;
    border-radius: 5px;
    color: #fff;
}
.btn .fa { margin: 0 5px 0 0; }
.btn.blue { background: #18c5ff; }
/*.section .fa {
    color: #99cc00;
    margin: 0 5px 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
}*/
.trade-section { padding: 0 0 5px; }
.trade-block {
    background-size: cover;
    color: #fff;
    overflow: hidden;
    font-size: 24px;
    line-height: 32px;
}
.trade-block .left-area {
    float: left;
    width: 51.5%;
    padding: 48px 30px 0 21.4%;
}
.trade-block .left-area h3 {
    position: relative;
    margin: 0 0 6px;
}
.trade-block .left-area h3:before {
    content: '';
    background: url(../img/img06.png) no-repeat;
    width: 60px;
    height: 87px;
    position: absolute;
    right: 100%;
    top: -18px;
    margin: 0 11px 0 0;
}
.trade-block .right-area {
    overflow: hidden;
    background: rgba(255,255,255,0.8);
    position: relative;
    padding: 37px 30px 37px 52px;
}
.trade-block p { margin: 0 0 2px; }
.trade-block ol {
    padding: 0 10px 0 24px;
    line-height: 32px;
    font-size: 24px;
}
.trade-block ol li {
    counter-increment: step-counter;
    font-family: myriad pro regular;
    margin: 0 0 15px;
    position: relative;
}
.trade-block ol li:before {
    content: counter(step-counter)'.';
    position: absolute;
    color: #18c5ff;
    top: 0;
    right: 100%;
    margin: 0 6px 0 0;
}
.trade-block .badge {
    background: #bfbfbf none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 8px;
    padding: 4px 12px;
    text-transform: uppercase;
    vertical-align: middle;
}
.trade-block .right-area .title {
    color: #000;
    display: block;
    font-family: myriad pro bold;
    font-size: 28px;
    line-height: 30px;
    margin: 0 0 10px;
}
.trade-block .right-area .btn { position: static; margin:12px 0 0;}
.section .btn .fa { color: #fff; }
.buying-block .btn {
    margin: 0 0 0 25px;
    padding: 10px 35px;
    position: static;
    background: #8ab704;
}
.buying-block .btn .fa { font-size: 30px; }
.buying-block {
    font-size: 16px;
    line-height: 18px;
    color: #666;
    overflow: hidden;
    text-align: center;
}
.buying-block .fa {
    color: #18c5ff;
    font-size: 42px;
}
.buying-block .supplier-list .fa { margin: 0 0 7px; }
.buying-block .title {
    color: #18c5ff;
    display: block;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 6px;
}
.buying-block p {
    color: #666;
    font-weight: normal;
    font-size: 16px;
}
.buying-block .supplier-list {
    letter-spacing: -0.32em;
    text-align: center;
    margin: 0 0 15px;
}
.buying-block .supplier-list li {
    letter-spacing: normal;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    color: #666;
}
.buying-block .left-area {
    background: #f4f4f4 none repeat scroll 0 0;
    float: left;
    padding: 32px 27px 30px;
    width: 51.5%;
}
.buying-block .left-area h3 {
    font-size: 38px;
    line-height: 40px;
    margin: 0 0 26px;
}
.buying-block .right-area {
    overflow: hidden;
    position: relative;
}
.buying-block .right-area .outer {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 28px;
}
.product-block {
    overflow: hidden;
    padding: 15px 80px 0;
}
.section h2 a {
    font-size: 12px;
    line-height: 14px;
    color: #f60;
    margin: 0 0 0 27px;
    text-transform: uppercase;
}
.carousel .slideset {
    width: 9999px;
    overflow: hidden;
}
.carousel .mask { overflow: hidden; }
.carousel .slide {
    float: left;
    width: 205px !important;
    margin: 0 23px 0 0;
}
.carousel .slide .img-holder {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    height: 205px;
    width: 205px;
    margin: 0 0 36px;
    white-space: nowrap;
}
.carousel .slide .img-holder:after {
    content: '';
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 -5px;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
}
.carousel .slide .img-holder img {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.product-block .slide .title { display: block; }
.product-block .slide a { color: #18c5ff; }
.carousel { position: relative; }
.carousel .btn-next,  .carousel .btn-prev {
    height: 50px;
    width: 50px;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 85px;
    left: 0;
    color: #e5e5e5 !important;
    text-align: center;
    padding: 17px 0 0;
}
.carousel .btn-next .fa,  .carousel .btn-prev .fa { color: #e5e5e5 !important; }
.carousel .btn-next {
    left: auto;
    right: 0;
}
.partner-block { padding: 0 80px; }
.partner-block .title {
    color: #18c5ff;
    font-size: 18px;
    line-height: 20px;
    display: block;
}
.benifits-section {
    overflow: hidden;
    padding: 0 0 40px;
}
.benifits-section .left-area {
    background: #e5e5e5 none repeat scroll 0 0;
    float: left;
    padding: 12px 45px 53px 58px;
    width: 51.5%;
}
.benifits-section h2 {
    font-size: 40px;
    line-height: 46px;
    color: #333;
    margin: 0 0 28px;
}
.benifits-section h2 .colored { color: #18c5ff; }
.benifits-section .row {
    overflow: hidden;
    margin: 0 0 10px;
}
.benifits-section .box {
    float: left;
    width: 50%;
}
.benifits-section .title {
    font-size: 26px;
    line-height: 28px;
    color: #666666;
    display: block;
    margin: 0 0 17px;
}
.benifits-section .list {
    font-size: 22px;
    line-height: 24px;
    padding: 0 0 21px 18px;
}
.benifits-section li {
    color: #333;
    font-size: 20px;
    font-weight: bold !important;
    margin: 0 0 8px;
}
.benifits-section .list li .fa {
    margin: 0 5px 0 0;
    color: #99cc00;
    font-size: 22px;
}
.benifits-section .right-area { overflow: hidden; }
.benifits-section .btn { padding: 10px 56px; }
.benifits-section .btn .fa { font-size: 30px; }
.search-section {
    overflow: hidden;
    padding: 0 0 50px;
}
.search-section .row {
    overflow: hidden;
    margin: 0 -20px;
}
.search-section .box {
    float: left;
    width: 50%;
    padding: 0 20px;
}
.search-section .box .frame {
    border: 1px solid #999;
    padding: 21px 40px 25px 28px;
}
.search-section h2 {
    color: #666;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 8px;
}
.search-section p {
    color: #a9a9a9;
    margin: 0 0 18px;
}
.search-from input[type="search"] {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    height: 26px;
    line-height: 30px;
    padding: 10px 15px;
    width: 94%;
}
.search-from .input-holder {
    position: relative;
    padding: 0 79px 0 0;
}
.search-from input[type="submit"] {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    line-height: 30px;
    padding: 9px 11px;
    cursor: pointer;
}
.flag-list {
    letter-spacing: -0.32em;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #999;
    margin: 27px -36px -12px;
}
.flag-list li {
    display: inline-block;
    letter-spacing: normal;
    margin: 0 13px;
    vertical-align: top;
    width: 60px;
}
#footer {
    position: relative;
    width: 100%;
    background: #6e6e6e none repeat scroll 0 0;
}
.footer-top {
    position: relative;
    letter-spacing: -0.32em;
    color: #fff;
    padding: 57px 0 46px;
    font-size: 14px;
    line-height: 16px;
    width: 110%;
}
.footer-top h3 {
    color: #e0e0e0;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 10px;
}
.footer-top:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    background: #6e6e6e;
    z-index: -1;
}
.footer-top:after {
    clear: both;
    display: block;
    content: '';
}
.footer-top .col {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    text-align: left;
    margin: 0 3.3% 0 0;
}
.footer-top .col + .col { padding: 0 0 0 18px; }
.footer-top a { color: #ccc; }
.footer-top .links li { margin: 0 0 8px; }
.footer-bottom {
    position: relative;
    text-align: center;
    padding: 10px 0;
    color: #ccc;
    background: #666666;
}
.footer-bottom:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: -9999px;
    background: #666;
    z-index: -1;
}
.footer-bottom p { color: #ccc; }
.footer-nav {
    letter-spacing: -0.32em;
    margin: 0 0 10px;
}
.footer-nav li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
}
.footer-nav li+li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 7px;
    width: 7px;
    margin: 0 15px;
    background: #ccc;
    border-radius: 7px;
}
.footer-bottom a,  .footer-nav a { color: #ccc; }
.social-networks {
    letter-spacing: -0.32em;
    margin: 18px -3px 0 -4px;
}
.social-networks li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin: 0 3px 0 4px;
}
.social-networks a {
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    text-align: center;
    white-space: nowrap;
    padding: 0 5px 0 0;
}
.social-networks a:after {
    content: '';
    height: 100%;
    width: 1px;
    margin: 0 0 0 -5px;
    display: inline-block;
    vertical-align: middle;
}
.social-networks a i {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.social-networks a:hover {
    background: #18c5ff;
    color: #fff;
    border-color: #18c5ff;
}
.data-box > img {
    height: auto;
    width: 100%;
    display: block;
}
.trade-block .left-area > h3 { font-size: 37px; }

.buying-block .left-area > h3 {
    color: #666666;
    font-size: 34px;
}
.buying-block .right-area > img {
    height: auto;
    width: 100%;
}
.custom_item:hover { border: 1px solid #18c5ff !important; }
.benifits-section .left-area > h2 {
    font-size: 32px;
    font-weight: bold;
}
.benifits-section .right-area > img {
    height: auto;
    width: 100%;
}
/***** login page ******/
.login-holder {
    position: relative;
    overflow: hidden;
    background: url(../img/bg-login.png) no-repeat 50% 0;
    background-size: cover;
    min-height: 700px;
}
.login-holder:after {
    position: absolute;
    content: '';
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.login-content {
    position: relative;
    z-index: 2;
    max-width: 390px;
    margin: 0 auto;
    padding: 80px 0 0;
}
.login-form-holder {
    background: #fff;
    border-radius: 6px;
}
.reg-block-header h2 {
    font-family: 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 24px;
    text-align: left;
}
.login-logo-holder {
    position: relative;
    margin: 0 0 30px;
}
.reg-block-header {
    border: none;
    margin: 0;
    padding: 0;
}
.sky-form section {
    max-width: 260px;
    margin: 0 auto 10px;
}
.log-reg-v3 .login-input .form-control {
    border: none;
    font: 16px/19px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.sky-form section .input-group {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sky-form .input input:focus, .sky-form .select select:focus, .sky-form .textarea textarea:focus { border: none; }
.log-reg-v3 .login-input span.captcha-partner {
    background: #ececec;
    color: #333;
    font-size: 14px;
    line-height: 17px;
    border: none;
}
.login-form-holder .btn-block.btn-labeled:not(.form-icon) {
    color: #fff;
    font: 20px/23px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.login-form-holder .txt-forget-pass {
    color: #999;
    font: italic 12px/15px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
}
.login-form-holder .txt-blue { color: #18c5ff; }
.signup-bottom {
    background: #666;
    font: 16px/20px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 0 -20px -20px;
    border-radius: 0 0 6px 6px;
}
.signup-bottom a, .signup-bottom p {
    color: #fff;
    margin: 0;
}
.color-yellow { color: #ffcc00; }
#forget_form .btn-u.btn-u-cust {
    color: #fff;
    font: 20px/23px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
/***** Sign up page *****/
.signup-page {
    position: relative;
    overflow: hidden;
    border: 1px solid #999;
    padding: 40px 0;
    max-width: 1200px;
    margin: 30px auto;
}
.signup-content {
    position: relative;
    overflow: hidden;
}
.signup-page .reg-block-header { padding: 0 40px; }
.signup-page .reg-block-header h2 {
    color: #18c5ff;
    margin: 0 0 25px;
    font: 34px/38px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
}
.signup-left {
    float: left;
    width: 33%;
    padding: 20px 40px;
}
.signup-content h3 {
    font: 16px/20px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    margin: 0 0 15px;
    color: #333;
}
.social-signup {
    color: #999;
    font: 16px/20px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 20px;
}
.signup-left a {
    display: block;
    max-width: 310px;
    margin: 0 auto;
    color: #333;
    font: 16px/20px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    border-radius: 4px;
}
.signup-left .fa {
    font-size: 24px;
    border-right: 1px solid #ccc;
    padding: 10px;
    min-width: 45px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.signup-left .fa-google-plus { color: #dd4e41; }
.signup-left .fa-facebook { color: #3b579d; }
/**** sign-up-form-holder ***/
.sign-up-form-holder {
    position: relative;
    overflow: hidden;
    border-left: 1px solid #ccc;
    padding: 20px 40px;
    width: 66%;
    float: right;
}
.sign-up-form-holder .sky-form section { margin: 0 0 10px; }
.txt-radio {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font: 16px/20px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    margin: 0 20px 0 0;
}
.phone-nos span {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    font: 16px/19px 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 6px 12px;
    height: 34px;
}
.phone-nos span.code-span {
    width: 25%;
    padding: 0;
}
.phone-nos span.phone-span {
    width: 58%;
    padding: 0;
}
.phone-nos span .form-control { border: none; }
.sky-form .jcf-select {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font: 16px/19px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    height: 34px;
    margin: 0;
}
.sky-form .jcf-select .jcf-select-text {
    font: 16px/19px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    height: 34px;
    padding: 6px 8px;
}
.sky-form .jcf-select .jcf-select-opener { background: none; }
.sky-form .jcf-select .jcf-select-opener:after {
    content: "\f0d7 ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgba(255, 255, 255, .2);
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 7px;
    left: 0;
    color: #aea7b2;
}
.sky-form section .post-code .input-group { width: 100px; }
.log-reg-v3 .login-input .form-control { color: #ccc; }
.sky-form { color: #ccc; }
.radio-section label {
    color: #333;
    font: 16px/19px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.jcf-radio span { background: #18c5ff; }
.access-holder {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    margin: 30px 0 0;
}
.social-signup .txt-charters {
    display: inline-block;
    vertical-align: middle;
    color: #18c5ff;
    font: 12px/15px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}
.access-holder section {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px !important;
}
.overflow { overflow: hidden; }
.txt-must-char {
    color: #999999;
    font: italic 12px/15px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
/*********** checkbox *********/
.sky-form input[type='checkbox'] {
    position: fixed;
    z-index: -111;
    opacity: 0;
    left: 0;
    top: 0;
}
.sky-form .fake-input {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border: 1px solid #ededed;
    position: relative;
    background: #f6f6f6;
}
.sky-form .fake-input:before, .sky-form .fake-input:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: #f20;
    transform: rotate(45deg);
    top: 0;
    left: 2px;
    opacity: 0;
}
.sky-form input[type='checkbox']~ .fake-input:after { transform: rotate(135deg); }
.sky-form input[type='checkbox']:checked ~ .fake-input:after, .sky-form input[type='checkbox']:checked ~ .fake-input:before { opacity: 1; }
.terms-holder { padding: 30px 0; }
.sky-form .terms-holder section {
    max-width: none;
    width: 100%;
    max-width: 430px;
}
.terms-holder label { display: block; }
.fake-label {
    display: inline-block;
    vertical-align: middle;
    color: #999999;
    font: 14px/17px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.fake-label a { color: #000000; }
.cap-signup {
    float: left;
    width: 49%;
}
.cancleUl {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 20px 0 0;
    position: relative;
    width: 100%;
}
.cancleUl li a{
    background: #999999 ;
    border-radius: 4px;
    color: #fff;
    font: 24px/28px "Myriad Pro Bold",Arial,Helvetica,sans-serif;
    margin: 0;
    width: 49%;
}
.cancleUl li a {
    background: #999999 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: block;
    font: 24px/28px "Myriad Pro Bold",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 6px;
    text-align: center;
    width: 50%;
}
.quotForm .cancleUl {
    max-width: 28%;
}
.tp_submit .cancleUl {
    margin: 0 auto;
    max-width: 28%;
}
.signup-btn.btn-u.btn-u-cust {
    color: #fff;
    font: 24px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    background: #18c5ff;
    border-radius: 4px;
    width: 49%;
    float: right;
    margin: 0;
}
/***** listing page ******/
.filter-by-block .form-control {
    border: 2px solid #6e6e6e;
    height: 35px;
    box-shadow: none;
}
.filter-by-block .panel-group { margin: 0; }
.filter-by-block .glyphicon-search { top: 3px; }
.filter-by-block .panel-group h2 { font: 14px/28px "Myriad Pro Regular", Arial, Helvetica, sans-serif; }
.filter-by-block .panel-group .panel { border-radius: 0; }
.related-categories {
    position: relative;
    overflow: hidden;
}
.related-categories h2 {
    margin: 0;
    font: 14px/28px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    background: #6e6e6e;
    color: #fff;
    text-transform: uppercase;
    padding: 7px 10px;
}
.cat-content {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    padding: 10px 15px;
}
.related-categories h3 {
    margin: 0;
    font: 18px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #333;
    text-transform: capitalize;
    padding: 0;
}
.related-cat-list {
    padding: 0 0 0 5px;
    margin: 0 0 15px;
    list-style: none;
    overflow: hidden;
    font: 14px/24px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.related-cat-list li { margin: 0; }
.related-cat-list a { color: #333; }
.filter-by-block .sky-form .radio i, .filter-by-block .sky-form .checkbox i { border-color: #6e6e6e; }
.filter-by-block .panel-group h2.blue-bg a { background: #13a9db; }
.filter-by-block .panel-group h2.bg-green a { background: #8ab506; }
.filter-by-block .sky-form .radio.state-success i, .filter-by-block .sky-form .checkbox.state-success i { background: #fff; }
/**** Search content****/
.search-content .result-category .col-sm-2 { width: auto; }
.buying-post {
    float: right;
    font: 14px/28px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    color: #333;
}
.txt-some span { font-weight: bold; }
.btn-post-buying {
    float: right;
    font: 16px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    border: 1px solid #666;
    color: #666;
    padding: 3px 10px;
    margin: 0 0 0 10px;
}
.overflow-h { overflow: hidden; }
.txt-related-srch {
    color: #666;
    font: 12px/15px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.list-grid { float: right; }
.list-grid li {
    display: inline-block;
    vertical-align: middle;
}
.grid-list-icons {
    padding: 0;
    margin: 0 0 0 10px;
}
.tag-box-v1 {
    border: none;
    background: none;
    border-radius: 0 !important;
}

.search-content .title-price a { color: #333; }
.extra-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    font: 13px/23px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.extra-list li {
    position: relative;
    margin: 0;
}
.extra-list li strong {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    font-weight: normal;
}
.supplier-info {
    float: right;
    background: #f1f1f1;
    padding: 10px;
    position: absolute;
    right: 15px;
    bottom: 0;
}
.supplier-info h4 {
    font: 16px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0 0 10px;
}
.supplier-info .pic-holder {
    float: left;
    width: 80px;
    margin: 0 10px 0 0;
}
.supplier-info div.shadow_list { min-height: 70px; }
.supplier-info .pic-holder img {
    display: block;
    width: 100%;
    height: auto;
}
.supplier-info h5 {
    font: 14px/14px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
}
.supplier-info .see-profile {
    color: #18c5ff;
    font: 12px/22px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.supplier-info .btn-get-quote {
    font: 16px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #fff;
    background: #ffba4c;
    border-radius: 5px;
    padding: 4px 14px;
    max-width: 130px;
    display: block;
    text-align: center;
    float: right;
}
.supplier-info .supplier-content {
    margin: 0 0 15px;
    overflow: hidden;
    width: 100%;
    padding: 0px;
}
.search-content .tag-box { padding: 0; }
.dotted-border { border-bottom: 1px dotted #ccc; }
.nav-pagination {
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    overflow: hidden;
    text-align: center;
    font: 14px/28px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
}
.nav-pagination li {
    display: inline-block;
    vertical-align: middle;
}
.nav-pagination li a {
    color: #999;
    padding: 5px;
    min-width: 28px;
    display: block;
    border: 1px solid #dae2ed;
}
.nav-pagination li:first-child a {
    background: #f4f4f4;
    color: #ccc;
    border: none;
    padding: 5px 8px;
}
.nav-pagination li:last-child a {
    background: #f4f4f4;
    color: #666;
    border: none;
    padding: 5px 8px;
}
.popular-products {
    border-top: 1px solid #ededed;
    position: relative;
    margin: 0 0 20px;
    padding: 15px 0 0;
}
.popular-products h3 {
    margin: 0 0 15px;
    font: 18px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #333;
}
.popular-products h3 .txt-blue { color: #4aceff; }
.send-holder {
    font: 16px/28px "Myriad Pro Regular", Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    border: 1px solid #ededed;
    padding: 25px;
}
.send-holder span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.btn-buying-req {
    display: inline-block;
    vertical-align: middle;
    font: 16px/28px 'Myriad Pro Bold', Arial, Helvetica, sans-serif;
    color: #666;
    padding: 5px 15px;
    border: 1px solid #666;
}
.filter-by-block .panel {
    border: none;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.filter-by-block .supplier-side .panel { border-bottom: 1px solid #e2e2e2; }
.shop-badge li { border-left: 1px solid #8b8b8b; }
.header-purple .container {
    width: 1280px;
    padding: 0;
}
.header-purple .navbar-brand{padding:2px 0 0;}
.header-purple .topbar-v3{padding:12px 0 19px;}
.navbar-brand .img-responsive{width:243px !important;}
.navbar{min-height:47px;}
.logo-col{
    width:270px;
    padding: 0;
}
.header-purple .row{margin: 0;}
.header-purple  .search-col{
    padding: 0;
    width:51.6%;
}
.btn.btn-input_type.dropdown-toggle.custom.ppy{padding:9px 18px 9px 12px;}
.header-purple .col-lg-12{padding: 0;}
.header-purple .acc-col{
    width: auto;
    padding: 15px 0 0 52px;
    float: right;
}
.header-purple #counter {
    border-radius: 3px !important;
    margin: 0 0 0 8px;
    padding: 7px 7px 8px;
    position: relative;
    right: 0;
    top: 0;
}
.header-purple #counter:before {
    content: '';
    position: absolute;
    top: 50%;
    margin: -4px 0 0;
    right: 100%;
    border: 4px solid transparent;
    border-right-color: #10a4d6;
}
.header-purple .shop-badge.badge-icons i{
    color:#ccc;
    font-size: 19px;
    margin:0 -6px 0 0;
}
.header-purple .shop-badge.badge-lists > li {
    margin: 0;
    padding-right: 0;
}
.cd-dropdown-wrapper{margin:4px 0 0;}
.nav .dropdown-toggle{
    padding: 11px 12px 13px 13px !important;
}
.navbar-collapse .right-area {
    margin: 7px 89px 0 0;
}
.right-area .coaching{margin:0 131px 0 0;}
.meg-menu{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 100%;
    width: 787px;
    letter-spacing:-0.32em;
    padding: 24px 0 0 60px;
    background: #f6f6f6;
    overflow: hidden;
}
.meg-menu .img-home{
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 40%;
}
.meg-menu .img-home img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.meg-menu .menu-post{
    display: inline-block;
    vertical-align: top;
    width: 36.4%;
    padding: 10px;
    letter-spacing:normal;
    background: #f6f6f6;
}
.meg-menu .menu-post .cus-meg-list{
    margin: 0 0 18px;
}
.header-purple .mega-menu .dropdown-menu > li{position:static;}
.header-purple .mega-menu .dropdown-menu > li:hover .meg-menu{
    opacity: 1;
    visibility: visible;
}
.meg-menu .menu-post h3{
    margin: 0 0 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.meg-menu .menu-post li a{
    padding: 0;
    display: block;
}
.meg-menu .menu-post li:last-child a{color: #333;}
.meg-menu .menu-post li a:before1{display: none;}
.nav.mynve a.opener{
    font-size: 20px !important;
    color: #fff !important;
    padding: 8px 0 17px !important;
}
.slide-box{display:none;}
.nav .fa-caret-down{
    transition: all 0.3s ease-in;
}
.nav .open .fa-caret-down{
    opacity: 0;
}
.nav .fa-times{
    transition: all 0.3s ease-in;
    opacity:0;
}
.nav .open .fa-times{
    opacity: 1;
}
.mynve li.dropdown{height: auto;}
.container{
    width: 1280px;
    padding: 0;
}
.selected_products .section h2{margin:0 0 21px;}