/*footer-purple
------------------------------------*/
.footer-purple .footer {
    background: #6e6e6e none repeat scroll 0 0;
    padding: 40px 0;
}

.footer-purple .footer p {
	color: #fff;
	font-weight:300;
}

.footer-purple .headline h2 {
	color: #fff;
}

/*Footer Subsribe*/
.footer-purple .footer-subsribe {
	width: 100%;
}

/*Link List*/
.footer-purple .link-list li {
	border-top: solid 1px #eee;
}

.footer-purple .link-list a {
	color: #fff;
	font-weight:300;
}

.footer-purple address {
	color: #fff;
	line-height: 23px;
}

.footer-purple address i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

/*Copyright*/
.footer-purple .copyright {
	border-top: none;
	background: #666666;
	padding: 10px 0 2px;
}

.footer-purple .copyright p {
	color: #fff;
	margin-bottom: 0;
}
.cards{
color:#fff !important;
font-size:25px !important;	
}